<footer>
    <div>
        page footer
    </div>
    <div>
    <ul>
       
            <li>
                Rights reserved by sohail
            </li>
       
        <li>
            feedback if any bro
        </li>


        
             
            
    </ul>
    </div>
</footer>
