<footer>
    <div>
        page footer
    </div>
    <div>
    <ul>
       
            <li>
                Rights reserved by sohail
            </li>
       
        <li>
            Feedback if Please Mail at Sohailkhan47642gmail.com
        </li>


        
             
            
    </ul>
    </div>
</footer>
